{% extends "base.html" %}
{% load static %}

{% block css %}
  {{ form.media.css }}
  <link rel="stylesheet" href="{% static 'css/select2.css' %}">
  <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}
<form id="payment_form" role="form" method="post" action="{% url 'transaction' %}" class="form-horizontal">
  {% csrf_token %}
  <p class="success"></p>
  <div class="form-group">
    <label for="id_user" class="control-label col-lg-2 sr-only">Пользователь:</label>
    <div class="col-lg-8">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;</div>
            {{ form.user }}
        </div>
        <div class="error"></div>
    </div>
  </div>
  <div class="form-group" >
      <label for="id_inn" class="control-label col-lg-2 sr-only">ИНН:</label>
      <div class="col-lg-8">
          <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;</div>
              <input type="text" class="form-control" name="inn" id="id_inn"
              placeholder="Введите ИНН">
          </div>
          <div class="error"></div>
      </div>
  </div>
  <div class="form-group" >
      <label for="id_score" class="control-label col-lg-2 sr-only">Сумма:</label>
      <div class="col-lg-8">
          <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>&nbsp;</div>
              <input type="number" step="0.01" class="form-control" name="score" id="id_score"
              placeholder="Введите сумму для перевода">
          </div>
          <div class="error"></div>
      </div>
  </div>
  <a class="btn btn-primary js-submit">Перевести</a>
</form>

{% endblock %}

{% block js_bottom %}
  {{ form.media.js }}
{% endblock %}
