{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>

    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% block css %}{% endblock %}

    <script src="{% static 'vendor/jquery-1.12.3.min.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
          <div class="col-lg-12">{% block content %}{% endblock %}</div>
      </div>
    </div>


    <script src="{% static 'vendor/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/cleanForms.js' %}"></script>
    {% block js_bottom %}{% endblock %}
  </body>
</html>
